<br/>

<% if @batch_montage.todo? %>
  <div>
    Progression: <span id="percentage"></span>%
  </div>

  <script>
    get_percentage(<%= @batch_montage.id %>);
  </script>
<% else %>
  <div>
    DONE :
    <%= link_to "Download CSV",
      batch_montage_path(@batch_montage, format: :csv)
     %>
    <br/><br/>
    <%= link_to "Launch a new batch", "/" %>
  </div>
<% end %>
